

@media screen and (max-width:640px) {
  .info{
    width: 90%;
    }
  .container {
    grid-auto-rows: minmax(140px, auto);
    grid-template-areas:
      "div2 div2 div2 div2"
      "div2 div2 div2 div2"
      "div1 div1 div1 div1"
      "div1 div1 div1 div1"
      "div3 div3 div6 div6"
      "div3 div3 div6 div6"
      "div4 div4 div4 div4"
      "div4 div4 div4 div4"
      "div8 div8 div5 div5"
      "div8 div8 div5 div5"
      "div7 div7 div5 div5"
      "div7 div7 div5 div5"
      "div9 div9 div9 div9"
      "div10 div10 div10 div10";
  }
  .div2 .info .text h1 {
    font-size: 35px;
    line-height: 49px;
  }
  .div2 .info .text {
    width: 98%;
  }
  .div1 .info .text {
    width: 35%;
  }
  .div1 .info .img {
    width: 45%;
  }
  .div4 .info .left .text {
    width: 80%;
  }
  .div4 .info .left .text {
    padding-bottom: 40px;
  }
  .div4 .info .left .img {
    width: 180%;
    transform: translate(-35%);
  }
  .div7 .info .text{
    width: 100%;
  }
  .div7 .info .img {
    transform: translate(-30px);
  }
}
@media screen and (max-width:768px) {
  .info{
    width: 80%;
    }
  .container {
    grid-auto-rows: minmax(140px, auto);
    grid-template-areas:
      "div2 div2 div2 div2"
      "div2 div2 div2 div2"
      "div1 div1 div1 div1"
      "div1 div1 div1 div1"
      "div3 div3 div6 div6"
      "div3 div3 div6 div6"
      "div4 div4 div4 div4"
      "div4 div4 div4 div4"
      "div8 div8 div5 div5"
      "div8 div8 div5 div5"
      "div7 div7 div5 div5"
      "div7 div7 div5 div5"
      "div9 div9 div9 div9"
      "div10 div10 div10 div10";
  }
  .div2 .info .text h1 {
    font-size: 35px;
    line-height: 49px;
  }
  .div2 .info .text {
    width: 98%;
  }
  .div1 .info .text {
    width: 45%;
  }
  .div1 .info .img {
    width: 40%;
  }
  .div4 .info .left .text {
    width: 70%;
  }
  .div4 .info .left .text {
    padding-bottom: 40px;
  }
  .div4 .info .left .img {
    width: 150%;
    transform: translate(-35%);
  }
  .div7 .info .text{
    width: 80%;
  }
  .div7 .info .img {
    transform: translate(-30px);
  }

}
@media screen and (max-width:1024px) {
  .info{
    width: 90%;
  }
  .div1 .info .text {
    width: 50%;
  }
  .div1 .info .img {
    width: 70%;
  }
  .div2 .info .text {
    width: 100%;
  }
  .div3 .info .text {
    width: 100%;
  }
  .div4 .info .left .img {
    width: 180%;
    transform: translate(-38%);
  }
  .div4 .info .left .text {
    width: 100%;
  }
  .div7 .info .img {
    transform: translate(-40px);
  }
  .div7 .info .text{
    width: 80%;
  }
}
@media screen and (max-width:1280px) {
.info{
  width: 80%;
}
.div1 .info .text {
  width: 80%;
}
.div1 .info .img {
  width: 70%;
}
.div2 .info .text {
  width: 100%;
}
.div4 .info .left .img {
  width: 180%;
  transform: translate(-38%);
}
.div4 .info .left .text {
  padding-bottom: 40px;
  width: 90%;
}
.div7 .info .img {
  transform: translate(-60px);
}
.div7 .info .text{
  width: 60%;
}
}
@media screen and (max-width:1536px) {
  .div1 .info .text {
    width: 50%;
  }
  .div1 .info .img {
    width: 40%;
  }
  .div2 .info .text {
    width: 80%;
  }
  .div4 .info .left .img {
    width: 150%;
  }
  .div4 .info .left .text {
    padding-bottom: 32px;
    width: 70%;
  }
  .div5 .info .p {
    width: 80%;
  }
}
